{% extends '@ApplicationApp/layout.html.twig' %}




{% block body %}


    <a href="#x" class="overlay" id="win3">
    </a>
    <div class="popup" style="max-width: 500px;">
        <div class="section bg-gray-light container-fluid">
            <h2 class="modal-title">Application</h2>
            <div class="container-fluid">

                {{ form_start(callform, { 'action': path('ApplicationAppBundle_confirm'), 'method': 'POST' }) }}
                {{ form_errors(callform) }}

                <div class="form-group">
                    {{ form_widget(callform.name, {'attr':{'class':'form-input','placeholder':'Your name'}}) }}
                </div>
                <div class="form-group">
                    {{ form_widget(callform.phone, {'attr':{'class':'form-input','placeholder':'Phone'}}) }}
                </div>
                <input type="submit" style="margin-bottom: 20px;" class="button button-xs button-default-outline"
                       value="Send">
                {{ form_end(callform) }}
            </div>
        </div>

        <a class="close" title="Закрыть" href="#close"></a>
    </div>

    <a href="#x" class="overlay" id="privacy">
    </a>
    <div class="popup" style="max-width: 500px;">
        <div class="section bg-gray-light container-fluid">
            <h2 class="modal-title">Privacy Policy</h2>
            <div class="container-fluid">
                <p>*text*</p>
            </div>
        </div>

        <a class="close" title="Закрыть" href="#close"></a>
    </div>

    <a href="#x" class="overlay" id="cookie">
    </a>
    <div class="popup" style="max-width: 500px;">
        <div class="section bg-gray-light container-fluid">
            <h2 class="modal-title">Cookie Policy</h2>
            <div class="container-fluid">
                <p>*text*</p>
            </div>
        </div>

        <a class="close" title="Закрыть" href="#close"></a>
    </div>

    <a href="#x" class="overlay" id="terms">
    </a>
    <div class="popup" style="max-width: 500px;">
        <div class="section bg-gray-light container-fluid">
            <h2 class="modal-title">Terms of use</h2>
            <div class="container-fluid">
                <p>*text*</p>
            </div>
        </div>

        <a class="close" title="Закрыть" href="#close"></a>
    </div>

    {#<div class="modal modal-custom modal-account fade show" id="account-modal" tabindex="-1" role="dialog" style="display: block; padding-right: 16px;">#}
    {#<div class="modal-dialog" role="document">#}
    {#<div class="modal-content">#}
    {#<div class="modal-header">#}
    {#<button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>#}
    {#</div>#}
    {#<div class="modal-body text-center">#}
    {#<div class="modal-body-inner">#}
    {#<figure class="modal-account-image"><img src="images/registration-modal-01-510x807.jpg" alt="" width="510" height="807">#}
    {#</figure>#}
    {#</div>#}
    {#<div class="modal-body-inner">#}
    {#<h4 class="modal-title">registration</h4>#}
    {#<!-- RD Mailform-->#}
    {#<form class="rd-mailform form-novi" novalidate="novalidate">#}
    {#<div class="form-wrap form-wrap-validation">#}
    {#<input class="form-input form-control-has-validation" id="forms-email3" type="email" name="email" data-constraints="@Required"><span class="form-validation"></span>#}
    {#<label class="form-label rd-input-label" for="forms-email3">E-mail</label>#}
    {#</div>#}
    {#<div class="form-wrap form-wrap-validation">#}
    {#<input class="form-input form-control-has-validation" id="forms-login-name" type="text" name="name" data-constraints="@Required"><span class="form-validation"></span>#}
    {#<label class="form-label rd-input-label" for="forms-login-name">Nickname</label>#}
    {#</div>#}
    {#<div class="form-wrap form-wrap-validation">#}
    {#<input class="form-input form-control-has-validation" id="forms-login-password" type="password" name="password" data-constraints="@Required"><span class="form-validation"></span>#}
    {#<label class="form-label rd-input-label" for="forms-login-password">Password</label>#}
    {#</div>#}
    {#<div class="form-wrap form-wrap-validation">#}
    {#<input class="form-input form-control-has-validation" id="forms-login-confirm" type="password" name="confirm" data-constraints="@Required"><span class="form-validation"></span>#}
    {#<label class="form-label rd-input-label" for="forms-login-confirm">Confirm Password</label>#}
    {#</div>#}
    {#<div class="form-button">#}
    {#<button class="button button-block button-secondary button-nina" type="submit"><span style="transition: opacity 0.22s 0s, transform 0.22s 0s, color 0.22s;">S</span><span style="transition: opacity 0.22s 0.03s, transform 0.22s 0.03s, color 0.22s;">i</span><span style="transition: opacity 0.22s 0.06s, transform 0.22s 0.06s, color 0.22s;">g</span><span style="transition: opacity 0.22s 0.09s, transform 0.22s 0.09s, color 0.22s;">n</span><span style="transition: opacity 0.22s 0.12s, transform 0.22s 0.12s, color 0.22s;"></span><span style="transition: opacity 0.22s 0.15s, transform 0.22s 0.15s, color 0.22s;">I</span><span style="transition: opacity 0.22s 0.18s, transform 0.22s 0.18s, color 0.22s;">n</span><span class="button-original-content" style="transition: background 0.22s, color 0.22s, transform 0.22s 0.21s;">Sign In</span></button>#}
    {#</div>#}
    {#</form>#}
    {#<p class="offset-custom-1 text-gray-light">or enter with</p>#}
    {#<div class="group-xs group-middle"><a class="icon icon-md-smaller icon-circle icon-filled mdi mdi-facebook" href="#"></a><a class="icon icon-md-smaller icon-circle icon-filled mdi mdi-twitter" href="#"></a><a class="icon icon-md-smaller icon-circle icon-filled mdi mdi-google" href="#"></a></div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}


    {#<section class="panel one" data-section-name="one">#}
    {#<div class="inner">#}
    {#<h1>Первый блок</h1>#}
    {#</div>#}
    {#</section>#}

    <section class="panel two" data-section-name="two" id="about"
             style="background-image: url('/images/office.png'); background-size: cover;">

        <div class="container">
            <div class="col-md-8" style="padding-top: 10%; padding-bottom: 10%;">
                <h2 style="color: white;">About Us</h2>
                <p style="color: white;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </section>

    <section class="panel three" data-section-name="three" id="products"
             style="background-image: url('/images/products.png'); background-size: cover;">
        <div class="container">
            <div class="col-md-8" style="padding-top: 10%; padding-bottom: 10%;">
                <h2 style="color: #6f42c1;">Fabros Products</h2>
                <p style="color: #6f42c1;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </section>

    <section class="panel four" data-section-name="four" id="career"
             style="background-image: url('/images/people.png'); background-size: cover;">
        <div class="container">
            <div class="col-md-8" style="padding-top: 10%; padding-bottom: 10%;">
                <h2 style="color: #FFD700;">Career in Fabros</h2>
                <p style="color: #FFD700;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <a class="button button-xs button-default-outline button-nina" href="#win3"
                   style="color: #FFD700; margin-top: 10px;"><span
                            style="transition: opacity 0.22s 0s, transform 0.22s 0s, color 0.22s;">A</span><span
                            style="transition: opacity 0.22s 0.03s, transform 0.22s 0.03s, color 0.22s;">d</span><span
                            style="transition: opacity 0.22s 0.09s, transform 0.22s 0.09s, color 0.22s;">d</span><span
                            style="transition: opacity 0.22s 0.12s, transform 0.22s 0.12s, color 0.22s;"></span><span
                            style="transition: opacity 0.22s 0.15s, transform 0.22s 0.15s, color 0.22s;">a</span><span
                            style="transition: opacity 0.22s 0.18s, transform 0.22s 0.18s, color 0.22s;">n</span><span
                            style="transition: opacity 0.22s 0.21s, transform 0.22s 0.21s, color 0.22s;"></span><span
                            style="transition: opacity 0.22s 0.24s, transform 0.22s 0.24s, color 0.22s;">a</span><span
                            style="transition: opacity 0.22s 0.27s, transform 0.22s 0.27s, color 0.22s;">p</span><span
                            style="transition: opacity 0.22s 0.3s, transform 0.22s 0.3s, color 0.22s;">p</span><span
                            style="transition: opacity 0.22s 0.3s, transform 0.22s 0.3s, color 0.22s;">l</span><span
                            style="transition: opacity 0.22s 0.3s, transform 0.22s 0.3s, color 0.22s;">y</span><span
                            class="button-original-content"
                            style="transition: background 0.22s, color 0.22s, transform 0.22s 0.33s;">Add an apply</span></a>


            </div>
        </div>
    </section>

    <section class="panel five" data-section-name="five" id="contacts"
             style="background-image: url('/images/rivera.png'); background-size: cover;">
        <div class="container">
            <div class="col-md-8" style="padding-top: 10%; padding-bottom: 10%;">
                <h2 style="color: #6f42c1; ">Contacts</h2>
                <p style="color: #6f42c1; font-weight: 600;">Belarus, Minsk, Pobediteley, 106-300</br>
                    <a href="tel:+375447770000" style="color: #6f42c1; font-weight: 600;">+375 (44) 777 0000</a></br>
                    mail@fabros.com
                </p>
            </div>
        </div>
        <div class="container-fluid footer-mobile" style="background-color: black; position: absolute; bottom: 0;">
            <div class="container">
                <div class="rd-navbar-brand" style="display: inline-block; vertical-align: middle;"><a
                            class="brand-name" href="/">FABROS</a></div>
                <ul class="rd-navbar-nav" style="display: inline-block; vertical-align: middle; margin-left: 20px;">
                    <li class="rd-navbar--has-dropdown"
                        style="display: inline-block; color: white; margin-right: 10px; font-size: 13px;"><a
                                href="#terms">Terms of use</a>
                    </li>
                    <li class="rd-navbar--has-dropdown"
                        style="display: inline-block; color: white; margin-right: 10px; font-size: 13px;"><a
                                href="#privacy">Privacy Policy</a>
                    </li>
                    <li class="rd-navbar--has-dropdown"
                        style="display: inline-block; color: white; margin-right: 10px; font-size: 13px;"><a
                                href="#cookie">Cookie Policy</a>
                    </li>
                </ul>
            </div>
        </div>

    </section>
{% endblock %}